
<p id="notice"><%= notice %></p>

<!--<h1>Listing Categories</h1> -->

<center>
<table style="width:100%" align="center">
  <% @categories.each do | category | %>
  <!-- <tr>
    <td> -->
    <div class="container">
      <%= link_to category.title, category_path( category ) %><br>
    
      <img src="<%= category.image %>" class="CateogryImage" style="width:250px;height:200px" alt="<%= category.alt %>"/>
 <!--    </td>

  </tr> -->
    </div>  
  <% end %>
</table>


<%= link_to 'New Category', new_category_path %>