<div class="row">
<p id="notice"><%= notice %></p>

<div class="span9">
  <strong>Title:</strong>
  </div>
  <p>
<%= link_to 'BOOK', 
</p>



<div class="span9">
<%= link_to 'Edit', edit_category_path(@category) :class => "btn btn-default" %> |
<%= link_to 'Back', categories_path, :class => "btn btn-default" %>
<%= link_to 'New item', new_category_item_path(@category), :class =. 'btn btn-default' %>
</div>
</div>
