<h1> <%= @product.title %> </h1>
<p> This is where the images for all the pictures will show </p>
<%= @product.image %> <br>
<%= @product.description %> <br>
<%= @product.printprice %> <br>
<%= @product.gicleeprice %> <br>
<%= @product.size %> <br> 